<section class="portfolioItems" ng-class="{ 'allImagesLoaded': allImagesLoaded }">
    <div ng-repeat="proj in projects" style="transform:{{proj.transform}}" ng-click="openPopup($event)" class="popUpWrapper" ng-class="{'selected' : proj.IsActive, 'selectedAnimationFinished' : proj.ShowDetails, 'fadedIn' : proj.imgIsLoaded }">
        <div ng-click="closePopup()" class="popUpBackground centered">
        </div>
        <div class="popupClickable">
            <div class="imgHolder">
                <img ng-load="imageLoaded()" class="projPopoutImg" src="{{proj.image}}" alt={{proj.imageAlt}} />
                <div class="imgOverlay"></div>
                <div class="overlayTitle centered">{{proj.title}}</div>
                <div class="centered loaderWrapper">
                    <div class="loader"></div>
                </div>
            </div>

            <div class="popUpDetails raised2" ng-if="proj.IsActive">
                <div class="popUpDetailsInner">
                    <h2>{{proj.title}}</h2>
                    <h3 ng-if="proj.skills != null && proj.skills.length > 0">
                        <span ng-repeat="skill in proj.skills">{{skill}} <span ng-if="$index < proj.skills.length - 1"> / </span></span>
                    </h3>

                    <p>
                        {{proj.description}}
                    </p>

                    <ul>
                        <li ng-repeat="point in proj.additionalDescBullets">
                            {{point}}
                        </li>
                    </ul>

                    <div>
                        <span ng-if="proj.link != null">
                            <a target="_blank" href="{{proj.link}}">{{proj.linkName}}</a>
                        </span>
                        <span ng-if="proj.link != null && proj.githubLink != null">|</span>
                        <span ng-if="proj.githubLink != null">
                            <a target="_blank" href="{{proj.githubLink}}">{{proj.githubLinkText}}</a>
                        </span>
                    </div>

                    <div class="popUpSticker raised1 popUpStickerLink" ng-if="proj.link != null || proj.githubLink != null">
                        <a href="{{proj.link != null ? proj.link : proj.githubLink}}" target="_blank">
                            <i class="stickerIcon centered fa fa-{{proj.projFaIcon}} fa-2x"></i>
                        </a>
                    </div>

                    <div class="popUpSticker raised1" ng-if="proj.link == null && proj.githubLink == null">
                        <i class="stickerIcon centered fa fa-{{proj.projFaIcon}} fa-2x"></i>
                    </div>

                </div>
            </div>

            <div ng-click="closePopup()" class="closePopupBtn" ng-if="proj.IsActive">
                <button><i class="fa fa-times fa-2x"></i></button>
            </div>
        </div>

    </div>
</section>
