<section class="portfolioItems">
    <div ng-repeat="proj in projects" class="popUpWrapper" ng-class="{'selected' : proj.IsActive, 'selectedAnimationFinished' : proj.ShowDetails }">
        <div ng-click="closePopup()" class="popUpBackground">
        </div>
        <div style="transform:{{proj.transform}}" ng-click="openPopup($event)" class="popupClickable">
            <div class="imgHolder">
                <img src="{{proj.image}}" alt={{proj.imageAlt}} />
                <div class="imgOverlay"></div>
                <div class="overlayTitle">{{proj.title}}</div>
            </div>
            
            <div class="popUpDetails raised2" ng-if="proj.IsActive">
                <div class="popUpDetailsInner">
                    <h2>{{proj.title}}</h2>
                    <p>
                        {{proj.description}}
                    </p>

                    <ul>
                        <li ng-repeat="point in proj.additionalDescBullets">
                            {{point}}
                        </li>
                    </ul>

                    <div class="popUpSticker raised1" ng-class="{popUpStickerLink: proj.link != null}" ng-if="proj.link != null">
                        <a href="{{proj.link}}" target="_blank">
                            <i class="stickerIcon fa fa-{{proj.projFaIcon}} fa-2x"></i>
                        </a>
                    </div>

                    <div class="popUpSticker raised1" ng-if="proj.link == null">
                        <i class="stickerIcon fa fa-{{proj.projFaIcon}} fa-2x"></i>
                    </div>

                </div>
            </div>

            <div ng-click="closePopup()" class="closePopupBtn" ng-if="proj.IsActive">
                <button><i class="fa fa-times fa-2x"></i></button>
            </div>
        </div>

    </div>
</section>
