<div class="skillSection">
    <div class="skillsBreakdown">
        <div ng-repeat="s in skills" class="skillInfo">
            <div class="skillCircle raised1">
                <div class="circleInner">
                    <i class="fa {{s.icon}} fa-2x"></i>
                </div>
            </div>
            <div class="skillDesc">
                <h3>{{s.name}}</h3>
                <ul ng-if="s.skillbreakdown.length > 0">
                    <li ng-repeat="subskill in s.skillbreakdown">
                        {{subskill}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
