body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  background: rgba(0, 0, 0, 0.05); }

.maxWidth {
  max-width: 1100px;
  margin: auto; }

.raised1 {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.26); }

.raised2, .toContentButton:hover, .popUpWrapper .popUpDetails .popUpSticker.popUpStickerLink:hover {
  box-shadow: 0 7px 3px 0 rgba(0, 0, 0, 0.26); }

.hidden {
  opacity: 0; }

.animated {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  to {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  to {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 10%, 0);
    -ms-transform: translate3d(0, 10%, 0);
    -o-transform: translate3d(0, 10%, 0);
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0); }

  to {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/**Home**/
.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /*margin:0 1.5rem 0 1.5rem;

    @media(min-width:$breakpointTablet) {
        margin:0 2.5rem 0 2.5rem;
    }

    @media(min-width:$breakpointDesktop) {
        margin: 0 5rem 0 5rem;
    }*/ }

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  height: 100vh;
  width: 12rem;
  z-index: 2;
  background: white; }
  .navBar .cutoutHolder {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .navBar .navBarInner {
    padding-left: 60px;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (min-width: 500px) {
      .navBar .navBarInner {
        padding-left: 100px; } }
    .navBar .navBarInner a {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
      padding: 0 0.5rem 0 0.5rem;
      font-size: 0.7rem;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
      @media (min-width: 1000px) {
        .navBar .navBarInner a {
          font-size: 1rem; } }
      .navBar .navBarInner a:last-child {
        border-right: none; }

.mainContent {
  margin-top: 60px; }

.fullScreen {
  height: 100vh;
  width: 100vw; }

.heroImage {
  /*background: url(/Images/General/imageedit__7985926903.jpg) no-repeat center center fixed;*/
  background-size: cover; }

.cutoutHolder {
  display: block;
  margin: auto; }
  .cutoutHolder canvas {
    opacity: 0.3; }

.sectionHeader {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8); }
  .sectionHeader.projectHeader {
    padding-bottom: 4rem; }

.mainBtn {
  background: #673AB7;
  color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  height: 3rem;
  width: 6rem;
  text-align: center;
  border: none; }

.toContentButton {
  position: absolute;
  bottom: 5%;
  left: 80%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  -moz-transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -o-transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -webkit-transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s; }
  .toContentButton:hover {
    -moz-transform: scale(1.05, 1.05) translateX(-50%);
    -ms-transform: scale(1.05, 1.05) translateX(-50%);
    -o-transform: scale(1.05, 1.05) translateX(-50%);
    -webkit-transform: scale(1.05, 1.05) translateX(-50%);
    transform: scale(1.05, 1.05) translateX(-50%); }

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.startDisplay {
  color: rgba(0, 0, 0, 0.8);
  text-align: center; }
  @media (min-width: 500px) {
    .startDisplay h1 {
      font-size: 3.3rem; }

    .startDisplay h2 {
      font-size: 2rem; }

    .startDisplay h1, .startDisplay h2 {
      font-weight: normal; }
 }

.marginBetweenBlocks {
  margin: 5rem 0 5rem 0; }

.infoPanel {
  text-align: center;
  background: #673AB7;
  color: white;
  padding: 2rem; }
  .infoPanel h2 {
    font-size: 3rem; }
  .infoPanel p {
    font-size: 2rem; }

.projectWrapper {
  padding: 0 0 0 12rem; }
  .projectWrapper > div {
    padding-left: 1rem; }

.skillsDesc {
  color: rgba(0, 0, 0, 0.8); }

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(41, 41, 41, 0.3);
  text-align: center;
  padding: 1rem;
  font-size: 1rem; }
  .footer a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none; }

.popUpWrapper .popUpDetails .popUpSticker.popUpStickerLink {
  background: #673AB7; }
  .popUpWrapper .popUpDetails .popUpSticker.popUpStickerLink:hover {
    -moz-transform: scale(1.05, 1.05) translate(-50%, -50%);
    -ms-transform: scale(1.05, 1.05) translate(-50%, -50%);
    -o-transform: scale(1.05, 1.05) translate(-50%, -50%);
    -webkit-transform: scale(1.05, 1.05) translate(-50%, -50%);
    transform: scale(1.05, 1.05) translate(-50%, -50%); }
  .popUpWrapper .popUpDetails .popUpSticker.popUpStickerLink a {
    color: white; }

/*# sourceMappingURL=app.css.map */