body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.maxWidth {
  max-width: 1100px;
  margin: auto; }

.raised1 {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.26); }

.raised2, .toContentButton:hover {
  box-shadow: 0 7px 3px 0 rgba(0, 0, 0, 0.26); }

/**Home**/
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  height: 60px;
  width: 100%;
  z-index: 2;
  background: white; }
  .navBar .navBarInner {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .navBar .navBarInner a {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
      padding-left: 1rem; }

.mainContent {
  margin-top: 60px; }

.fullScreen {
  height: 100vh;
  width: 100vw; }

.heroImage {
  /*background: url(/Images/General/imageedit__7985926903.jpg) no-repeat center center fixed;*/
  background-size: cover; }

.cutoutHolder {
  display: block;
  height: 300px;
  width: 415px;
  margin: auto; }
  .cutoutHolder canvas {
    opacity: 0.45; }

.mainBtn {
  background: #673AB7;
  color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  height: 3rem;
  width: 6rem;
  text-align: center;
  border: none; }

.toContentButton {
  position: absolute;
  bottom: 5%;
  left: 80%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  -moz-transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -o-transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -webkit-transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s; }
  .toContentButton:hover {
    -moz-transform: scale(1.05, 1.05) translateX(-50%);
    -ms-transform: scale(1.05, 1.05) translateX(-50%);
    -o-transform: scale(1.05, 1.05) translateX(-50%);
    -webkit-transform: scale(1.05, 1.05) translateX(-50%);
    transform: scale(1.05, 1.05) translateX(-50%); }

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.startDisplay {
  color: rgba(0, 0, 0, 0.8);
  text-align: center; }
  @media (min-width: 500px) {
    .startDisplay h1 {
      font-size: 3.3rem; }

    .startDisplay h2 {
      font-size: 2rem; }

    .startDisplay h1, .startDisplay h2 {
      font-weight: normal; }
 }

.marginBetweenBlocks {
  margin: 5rem 0 5rem 0; }

.infoPanel {
  text-align: center;
  background: #673AB7;
  color: white;
  padding: 2rem; }
  .infoPanel h2 {
    font-size: 3rem; }
  .infoPanel p {
    font-size: 2rem; }

.projectWrapper {
  padding: 2.5rem 0 2.5rem 0; }

.footer {
  background: rgba(41, 41, 41, 0.952941);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem; }
  .footer a {
    color: white;
    text-decoration: underline; }

/*# sourceMappingURL=app.css.map */