
$breakpointTablet: 650px;
$breakpointDesktop: 1000px;
$skillCircleWidth: 80px;

$textColor: rgba(0,0,0,0.8);

.skillSection {
    color:$textColor;
}

.skillsBreakdown {

    .skillInfo {
        padding-bottom: 4rem;
        padding-top: 4rem;
        text-align: center;
        width: 100%;
        display: block;

        ul {
            padding-left: 1.5rem;
        }

        h3 {
            margin-top: 0;
        }

        @media (min-width: $breakpointTablet) {
            width: 49%;
            display: inline-block;
        }

        @media (min-width: $breakpointDesktop) {
            width: 33%;
        }

        .skillCircle {
            width: $skillCircleWidth;
            height: $skillCircleWidth;
            border-radius: 50%;
            color: white;
            position:relative;

            .circleInner {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        &:nth-child(1) {
            .skillCircle {
                background: rgb(34, 57, 78);
            }
        }

        &:nth-child(2) {
            .skillCircle {
                background: rgb(227, 55, 78);
            }
        }

        &:nth-child(3) {
            .skillCircle {
                background: rgb(94, 227, 168);
            }
        }

        &:nth-child(4) {
            .skillCircle {
                background: rgb(76, 214, 214);
            }
        }

        &:nth-child(5) {
            .skillCircle {
                background: rgb(192, 121, 247);
            }
        }

        &:nth-child(6) {
            .skillCircle {
                background: rgb(240, 160, 7);
            }
        }



        .skillDesc {
            text-align: left;
            margin-top: 0.55rem;
            position: absolute;
            top: 50%;
            left: 50%;
            color: $textColor;
            margin-left: ($skillCircleWidth /2 + 15);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}