.skillSection {
  color: rgba(0, 0, 0, 0.8); }

.skillsBreakdown .skillInfo {
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
  cursor: pointer; }
  @media (min-width: 650px) {
    .skillsBreakdown .skillInfo {
      padding-bottom: 3rem;
      padding-top: 3rem; } }
  @media (min-width: 1000px) {
    .skillsBreakdown .skillInfo {
      padding-bottom: 4rem;
      padding-top: 4rem; } }
  .skillsBreakdown .skillInfo ul {
    padding-left: 1.5rem; }
  .skillsBreakdown .skillInfo h3 {
    margin: 0; }
  @media (min-width: 650px) {
    .skillsBreakdown .skillInfo {
      width: 49%;
      display: inline-block; } }
  @media (min-width: 1000px) {
    .skillsBreakdown .skillInfo {
      width: 33%; } }
  .skillsBreakdown .skillInfo .skillCircle {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    color: white;
    position: relative;
    margin: auto; }
    .skillsBreakdown .skillInfo .skillCircle .circleInner {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .skillsBreakdown .skillInfo:nth-child(1) .skillCircle {
    background: #22394e; }
  .skillsBreakdown .skillInfo:nth-child(2) .skillCircle {
    background: #e3374e; }
  .skillsBreakdown .skillInfo:nth-child(3) .skillCircle {
    background: #5ee3a8; }
  .skillsBreakdown .skillInfo:nth-child(4) .skillCircle {
    background: #4cd6d6; }
  .skillsBreakdown .skillInfo:nth-child(5) .skillCircle {
    background: #c079f7; }
  .skillsBreakdown .skillInfo:nth-child(6) .skillCircle {
    background: #f0a007; }
  .skillsBreakdown .skillInfo .skillDesc {
    text-align: center;
    margin-top: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .skillsBreakdown .skillInfo .skillBreakdown {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0% 0%;
    -moz-transform: rotate(0) translate(-50%, -50%);
    -ms-transform: rotate(0) translate(-50%, -50%);
    -o-transform: rotate(0) translate(-50%, -50%);
    -webkit-transform: rotate(0) translate(-50%, -50%);
    transform: rotate(0) translate(-50%, -50%);
    -moz-transition: transform 10s ease-in-out, opacity ease-in-out 0.5s;
    -o-transition: transform 10s ease-in-out, opacity ease-in-out 0.5s;
    -webkit-transition: transform 10s ease-in-out, opacity ease-in-out 0.5s;
    transition: transform 10s ease-in-out, opacity ease-in-out 0.5s; }
  .skillsBreakdown .skillInfo:hover .skillBreakdown {
    opacity: 1;
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -o-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%); }

/*# sourceMappingURL=skillsDirective.css.map */